@import "tailwindcss";
@tailwind utilities;

body {
  font-family: sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  cursor: pointer;
}

li {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
